{% extends 'base.html' %} {% block content %}
<div class="login_signup">
<input type="checkbox" id="check">
<div class="login form">
    <header>Login</header>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" name="username" placeholder="Username" class="form-control" required />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              required
            />
            
          </div>
          <input type="submit" class="button" value="Login">
        </form>
        <div class="signup">
          <span class="signup">Don't have an account?
              <a href="{% url 'register' %}">Register</a>
          </span>
      </div>
      </div>
      </div>
{% endblock %}
