{% extends 'base.html' %} {% block content %}
<div class="login_signup"> 
  <input type="checkbox" id="check">
  <div class="login form">
      <header>Register</header>
      <form action="#" method="post">
          {% csrf_token %}
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Username">
          <input type="email" placeholder="Email">
          <input type="password" placeholder="Password">
          <input type="submit" class="button" value="Register">
      </form>
      <div class="signup">
          <span class="signup">Already have an account?
              <a href="{% url 'login' %}">Login</a>
          </span>
      </div>
  </div>
</div>

{% endblock %}
